# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: MoneyHelper Cypress

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cypress run with env
        uses: cypress-io/github-action@v6
        env:
          CYPRESS_MONEYHELPER_BASEURL: ${{ vars.CYPRESS_MONEYHELPER_BASEURL }}
          CYPRESS_DTT_BASEURL: ${{ vars.CYPRESS_DTT_BASEURL }}
